<div class="service-single-right-content ml70">
    <div class="service-single-img-text">
        <div class="service-single-right-img mb45 relative-position">
            <img src="../../../assets/img/service/livemarketing-800x450.jpg" alt="Live Marketing">
            <!-- <img src="assets/img/service/service-s.jpg" alt="img">
            <div class="overlay"></div>
            <div class="vidco-play-icon text-center">
                <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="pink ion-play"></i></a>
            </div> -->
        </div>

        <div class="service-single-text-des">
            <div class="service-single-text mb25">
                <h3>
                    Entendemos sua necessidade e entregamos seu conteúdo com a rapidez e a qualidade que o seu
                    investimento merece.
                </h3>
            </div>

            <div class="service-single-text pb30">
                <p>
                    Criação, desenvolvimento e implementação de campanhas, ações e intermediações de live marketing com
                    foco em geração de experiências positivas para grupos de consumidores, clientes e usuários, com o
                    gerenciamento de todo o processo, execução e coleta de insights e experiências reais de engajamento
                    para desenvolvimento de conteúdo a partir da ação ou evento na utilização combinada com outras
                    estratégias e serviços, garantindo melhor visibilidade e correta utilização das demais ferramentas
                    para atender e atingir aos objetivos dos nossos clientes.
                </p>
            </div>

            <div class="service-single-content-img-list">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-single-left-img relative-position">
                            <img src="../../../assets/img/service/livemarketing-400x350.jpg" alt="Live Marketing">
                            <!-- <img src="assets/img/service/left-1.jpg" alt="">
                            <div class="overlay"></div> -->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-single-right-list">
                            <div class="service-single-right-title mb30">
                                <div class="section-title mb45">
                                    <span class="sintony section-title-text">E as vantagens</span>
                                    <h2 class="section-title-head black bold text-capitalize">Quais são ?</h2>
                                </div>

                                <div class="title-text">
                                    <p>
                                        Veja que há muitas vantagens com o Live Marketing.
                                    </p>
                                </div>
                            </div>

                            <div class="service-single-list-item ul-li">
                                <ul>
                                    <li><i class="pink ion-android-done-all"></i>Criação, desenvolvimento e implementação de campanhas</li>
                                    <li><i class="pink ion-android-done-all"></i>Ações e intermediações de Live Marketing</li>
                                    <li><i class="pink ion-android-done-all"></i>Foco em geração de experiências positivas para grupos de consumidores, clientes e usuários</li>
                                    <li><i class="pink ion-android-done-all"></i>Garantia de melhor visibilidade e correta utilização das demais ferramentas para atingir aos objetivos do cliente</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>