
<!-- Start of Header section
    ============================================= -->
<comp-header></comp-header>

<!-- End of Header section
  ============================================= -->



<!-- Start of breadcrum section
		============================================= -->
<section id="page-breadcrum" class="breadcrum-section">
    <div class="container">
        <div class="row">
            <div class="breadcrum-content ul-li">
                <ul class="breadcrumb text-capitalize">
                    <li class="breadcrumb-item"><a href="#">home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ul>
                <div class="breadcrum-title">
                    <h2 class="breadcrum-title-head text-uppercase white bold">NEWS & UPDATES</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of breadcrum section
 		============================================= -->


<!-- Start of blog page content
		============================================= -->
<section id="blog-archive" class="blog-archive-section pt80 pb15 mb75">
    <div class="container">
        <div class="row">
            <div class="blog-archive-content">
                <div class="row">

                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-1.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-2.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-3.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-3.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-2.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text mb45 relative-position global-box-shadow">
                            <div class="blog-section-pic">
                                <img src="assets/img/blog/blog-1.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date white text-uppercase">
                                    <span>SEP 19, 2017</span>
                                </div>

                                <div class="blog-meta mb15  ul-li">
                                    <span>By:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>

                                <div class="blog-section-title pb10">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor</a></h3>
                                </div>

                                <div class="blog-descrip">
                                    <p>Numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                </div>

                                <div class="view-button black text-capitalize">
                                    <a href="#">Learn more <i class="ion-ios-arrow-thin-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->

                <div class="browse-btn text-center white transation global-box-shadow">
                    <a href="#">Browse more</a>
                </div>

            </div>
            <!-- /.blog-archive-content -->
        </div>
    </div>
</section>
<!-- End of blog page content
 		============================================= -->




<!-- Start of newsletter and footer  section
    ============================================= -->

<comp-footer></comp-footer>

<!-- End of newsletter  and footer  section
		============================================= -->