<!-- <div id="preloader">

</div> -->


<!-- Start of Header section ============================================= -->
<comp-header></comp-header>
<!-- .cd-auto-hide-header -->

<!-- End of Header section	============================================= -->


<!-- Start of vidco banner
		============================================= -->
<section id="slider-area" class="slider-area-section relative-position">
    <div class="slider-content">
        <div class="slider-img-item relative-position slider-bg-1">
            <div class="overlay"></div>
            <div class="banner-title-text mt100">
                <h1 class="banner-title fadeInLeft pb10 white">
                    <span class="bold">Compasso</span>
                    <h3>Coolab</h3>
                </h1>
                
                <span class="banner-text white">
                        Soluções em conteúdo no ritmo do seu negócio
						</span>
            </div>
        </div>
        <!-- <div class="slider-img-item">
            <div class="video-area video-section">
                <div class="video-section-content">
                    <div class="video-section-title bold white">
                        <h1 class="vide-slider-head mb15">Nós trabalhamos para promover seu vídeo</h1>
                        <p>Compasso Coolab é a agência mais bem-sucedida sobre como produzir vídeos explicativos em todo o mundo</p>
                    </div>
                </div>
                <div class="home-video">
                    <div id="P1" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Rp19QD2XIGM',containment:'self',showControls:true,startAt:0,mute:true,autoPlay:true,loop:true,opacity:1,showYTLogo:true, optimizeDisplay:true}"></div>
                </div>
            </div>
        </div> -->
        <div class="slider-img-item relative-position slider-bg-2">
            <div class="overlay"></div>
            <div class="banner-title-text mt100">
                <h1 class="banner-title fadeInLeft pb10 white">Pensamos no seu
                    <span class="bold">Projeto como TODO </span>
                </h1>
                <span class="banner-text white">
                        Desde o início da sua ideia, a partir de um insight, até os resultados metrificados
						</span>
            </div>
        </div>
    </div>
</section>
<!-- End of  vidco banner
		============================================= -->


<!-- Start of featured section
		============================================= -->
<section id="featured" class="featured-section home-2 pt90">
    <div class="container">
        <div class="row section-padding">
            <div class="featured-section-content">
                <div class="row">

                    <div class="col-md-4 colmd4">
                        <div class="featured-icon-text">
                            <div class="featured-icon-title pb10">
                                <div class="featured-icon pull-left mr30">
                                    <i class="pink ion-android-checkmark-circle"></i>
                                </div>
                                <div class="featured-title pt10">
                                    <h3 class="featured-title-head black bold">CO</h3>
                                </div>
                            </div>

                            <div class="featured-number-text ml5">
                                <div class="featured-number pull-left mr35">
                                    <h3 class="bold">1</h3>
                                </div>
                                <div class="featured-text-dec">
                                    <p>Colaborativo e agregador: nossas soluções são desenvolvidas através de colaboração formada por uma rede de talentos, profissionais e especialistas que reúnem de forma ágil e prática o maior número de ideias, insights, ações e operações e gerar mais valor para os negócios de nossos clientes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="featured-icon-text">
                            <div class="featured-icon-title pb10">
                                <div class="featured-icon pull-left mr30">
                                    <i class="pink ion-android-checkmark-circle"></i>
                                </div>
                                <div class="featured-title pt10">
                                    <h3 class="featured-title-head black bold">COOL</h3>
                                </div>
                            </div>

                            <div class="featured-number-text ml5">
                                <div class="featured-number pull-left mr35">
                                    <h3 class="bold">2</h3>
                                </div>
                                <div class="featured-text-dec">
                                    <p>Descontraído e divertido: nossa filosofia, atitude, perseverança e motivação para sermos criativos, efetivos e superar as expectativas de nossos clientes, parceiros e colaboradores, entregando resultados consistentes e relevantes para seus negócios.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="featured-icon-text">
                            <div class="featured-icon-title pb10">
                                <div class="featured-icon pull-left mr30">
                                    <i class="pink ion-android-checkmark-circle"></i>
                                </div>
                                <div class="featured-title pt10">
                                    <h3 class="featured-title-head black bold">LAB</h3>
                                </div>
                            </div>

                            <div class="featured-number-text ml5">
                                <div class="featured-number pull-left mr35">
                                    <h3 class="bold">3</h3>
                                </div>
                                <div class="featured-text-dec">
                                    <p>Inovação: nossa premissa é atuar fora dos padrões, com processos de desenvolvimento rápido e objetivos, fazendo uso de técnicas como lean startup e growth hacking, que aumentam a capacidade de criar soluções com o mais com alto poder de otimização de recursos financeiros, tempo e de pessoas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->

                </div>
            </div>
            <!-- /.featured-section-content -->
        </div>
        <!--  /.row -->
    </div>
    <!--  /.container -->
</section>
<!-- End of featured section
		============================================= -->


<!-- Start Achivement section
		============================================= -->
<!-- <section id="achivment" class="achivment-section home-2">
    <div class="container">
        <div class="row section-padding">
            <div class="achivment-section-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="achivment-left relative-position pb50 global-box-shadow display-table">
                            <div class="achivment-left-img pull-right">
                                <div class="slide-img relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/achivement/achivement-left-2.jpg" alt="">
                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                                <div class="slide-img relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/achivement/achivement-left.jpg" alt="">
                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                                <div class="slide-img relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/achivement/achivement-left-3.jpg" alt="">
                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="achivement-right">
                            <div class="section-title pull-left pb30">
                                <span class="sintony section-title-text">Nossa conquista</span>
                                <h2 class="section-title-head pt10 black bold text-capitalize">Compasso Coolab é a agência mais bem sucedida sobre como fazer <span><a href="#">Vídeos de explicação</a></span> em todo o mundo</h2>
                            </div>

                            <div class="achivement-counter">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="counter-item text-capitalize text-left">
                                            <h2 class="counter pink">2000</h2><strong class="pink">+</strong>
                                            <span class="counter-details">Vídeos do explicador</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="counter-item text-capitalize text-left">
                                            <h2 class="counter pink">09</h2><strong class="pink">k</strong>
                                            <span class="counter-details">Cliente feliz</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6">
                                        <div class="counter-item  text-capitalize text-left">
                                            <h2 class="counter pink">10</h2><strong class="pink">k</strong>
                                            <span class="counter-details">Premiação</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="view-button  text-capitalize mt30">
                                <a href="#">Saiba mais <i class="ion-ios-arrow-thin-right"></i></a>
                            </div>

                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</section> -->
<!-- End of Achivement section
		============================================= -->


<!-- Start of portfolio section
		============================================= -->
<section id="portfolio" class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="section-title pull-left">
                <span class="sintony section-title-text">Trabalhos recentes</span>
                <h2 class="section-title-head black bold text-uppercase">PORTFOLIO</h2>
            </div>
            <div class="portfolio-tab-button mt40 ul-li pull-right">
                <ul id="filters" class="nav-gallery">
                    <li class="filtr-button filtr filtr-active" data-filter="all">Todos</li>
                    <li class="filtr-button filtr" data-filter="1">Animações</li>
                    <li class="filtr-button filtr" data-filter="2">Explicativo</li>
                    <li class="filtr-button filtr" data-filter="3">Introdução ao logotipo</li>
                    <li class="filtr-button filtr" data-filter="4">Narrativag</li>
                </ul>
            </div>

            <div class="clearfix"></div>
            <div class="portfolio-project pt80">
                <div class="row">

                    <!-- /tab-button -->

                    <div class="portfolio-tab-text-pic mb45">
                        <div class="filtr-container">

                            <div class="item col-md-4 item-grid  filtr-item" data-category="1, 3" data-sort="Busy streets">

                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-1.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>


                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->



                            <div class="item col-md-4 item-grid filtr-item" data-category="2, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-2.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->



                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-3.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-4.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-5.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-6.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-1.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-4.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->


                            <div class="item col-md-4 item-grid filtr-item" data-category="1, 3, 4" data-sort="Busy streets">
                                <div class="item-wrap relative-position">
                                    <div class="overlay"></div>
                                    <img src="assets/img/portfolio/port-2.jpg" alt="">
                                    <div class="project-description  text-capitalize ul-li">
                                        <h3 class="white"><a href="#">Título do projeto</a></h3>
                                        <ul class="project-catagorry  text-capitalize">
                                            <li><a href="#">Web, </a></li>
                                            <li><a href="#">Desenvolvedor</a></li>
                                        </ul>
                                    </div>



                                    <div class="vidco-play-icon text-center">
                                        <a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=3OnnDqH6Wj8"><i class="white ion-play"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /item -->

                        </div>
                    </div>
                    <!-- /.portfolio-tab-text-pic -->

                    <div class="browse-btn text-center white transation global-box-shadow">
                        <a href="#">Procure mais</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container and section-title -->
    </div>
</section>
<!-- End of of portfolio section
		============================================= -->


<!-- Start of get started section
		============================================= -->
<section id="get-start" class="get-start-section relative-position">
    <div class="jarallax">
        <div class="overlay-2"></div>
        <div class="container">
            <div class="get-start-content">
                <div class="row section-padding">
                    <div class="get-start-content text-center">
                        <div class="section-title">
                            <span class="sintony section-title-text  pink">Não espere mais</span>
                            <h2 class="section-title-head white bold pb40  text-capitalize">Faça vídeos explicativos com inovação</h2>
                        </div>

                        <div class="browse-btn text-center white transation global-box-shadow">
                            <a href="#">Iniciar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of get started section
		============================================= -->



<!-- Start of service section
		============================================= -->
<section id="service" class="service-section">
    <div class="container">
        <div class="row section-padding">
            <div class="section-title pull-left">
                <span class="sintony section-title-text">O que nós fazemos</span>
                <h2 class="section-title-head black bold text-uppercase">SERVIÇOS</h2>
            </div>

            <div class="view-button pull-right text-capitalize mt40">
                <a href="#">ver tudo <i class="ion-ios-arrow-thin-right"></i></a>
            </div>
            <!-- /.section-title -->
            <div class="clearfix"></div>
            <div class="service-section-content  pt90">
                <div class="row">

                    <div class="col-md-4 colmd4">
                        <div class="service-text-icon global-box-shadow text-center transation relative-position">
                            <div class="service-icon">
                                <i class="pink ion-ios-paper-outline"></i>
                            </div>

                            <div class="service-reply-icon">
                                <a href="#"><i class="ion-share"></i></a>
                            </div>

                            <div class="service-text">
                                <div class="service-text-title mb15 text-center">
                                    <h3 class="service-title-head black">Narrativa</h3>
                                </div>
                                <div class="service-text-des">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="service-text-icon global-box-shadow text-center transation relative-position">
                            <div class="service-icon">
                                <i class="pink ion-ios-videocam-outline"></i>
                            </div>

                            <div class="service-reply-icon">
                                <a href="#"><i class="ion-share"></i></a>
                            </div>

                            <div class="service-text">
                                <div class="service-text-title mb15 text-center">
                                    <h3 class="service-title-head black">Vídeo explicativo</h3>
                                </div>
                                <div class="service-text-des">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="service-text-icon global-box-shadow text-center transation relative-position">
                            <div class="service-icon">
                                <i class="pink ion-ios-lightbulb-outline"></i>
                            </div>

                            <div class="service-reply-icon">
                                <a href="#"><i class="ion-share"></i></a>
                            </div>

                            <div class="service-text">
                                <div class="service-text-title mb15 text-center">
                                    <h3 class="service-title-head black">Introdução a logotipo</h3>
                                </div>
                                <div class="service-text-des">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->

                </div>
            </div>
            <!-- /.service-section-content -->

        </div>
        <!--  /.row  -->
    </div>
    <!-- /.container -->
</section>
<!-- End of service section
		============================================= -->



<!-- Start of testimonial section
		============================================= -->
<section id="testimonial" class="testimonial-section">
    <div class="container">
        <div class="row section-padding">
            <div class="section-title pull-left">
                <span class="sintony section-title-text">Parceiros e Clientes</span>
                <h2 class="section-title-head black bold text-uppercase">DEPOIMENTOS</h2>
            </div>
            <!-- /title -->
            <div class="clearfix"></div>
            <div class="testimonial-content pt90">

                <div class="testimonial-slide owl-carousel">

                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="testimonial-pic-text global-box-shadow">
                        <div class="testimonial-text black mb30">
                            <span> <i class="ion-quote"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</span>
                        </div>

                        <div class="testimonial-pic-details">
                            <div class="client-pic pull-left mr30">
                                <img src="assets/img/testimonial/testi-1.jpg" alt="">
                            </div>

                            <div class="client-name-designation mt10">
                                <span class="name black bold">john doe</span>
                                <span class="designation">john doe.com</span>
                            </div>

                            <div class="client-ratting ul-li pull-right  text-right">
                                <span class="ratting-number black">5</span>
                                <ul class="rate-star">
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                    <li><i class="ion-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /.testimonial-content -->

        </div>
    </div>
</section>
<!-- End  of testimonial section
		============================================= -->



<!-- Start of blog section
		============================================= -->
<section id="blog" class="blog-section">
    <div class="container">
        <div class="row section-padding">
            <div class="section-title pull-left">
                <span class="sintony section-title-text">Deve ler</span>
                <h2 class="section-title-head black bold text-uppercase">NOSSOS BLOGS</h2>
            </div>
            <!-- /.title -->

            <div class="view-button pull-right text-capitalize mt40">
                <a href="#">Veja tudo <i class="ion-ios-arrow-thin-right"></i></a>
            </div>

            <div class="clearfix"></div>
            <div class="blog-section-content pt90">
                <div class="row">

                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text">
                            <div class="blog-section-pic mb25">
                                <img src="assets/img/blog/blog-1.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date text-uppercase mb15">
                                    <span>14 AGOSTO, 2018</span>
                                </div>

                                <div class="blog-section-title mb15">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor consectetur</a></h3>
                                </div>

                                <div class="blog-meta ul-li">
                                    <span>De:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comentários: 12 </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text">
                            <div class="blog-section-pic mb25">
                                <img src="assets/img/blog/blog-2.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date text-uppercase mb15">
                                    <span>14 AGOSTO, 2018</span>
                                </div>

                                <div class="blog-section-title mb15">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor consectetur</a></h3>
                                </div>

                                <div class="blog-meta ul-li">
                                    <span>De:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comentários: 12 </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->


                    <div class="col-md-4 colmd4">
                        <div class="blog-section-pic-text">
                            <div class="blog-section-pic mb25">
                                <img src="assets/img/blog/blog-3.jpg" alt="">
                            </div>

                            <div class="blog-section-text">
                                <div class="blog-post-date text-uppercase mb15">
                                    <span>14 AGOSTO, 2018</span>
                                </div>

                                <div class="blog-section-title mb15">
                                    <h3 class="blog-tilte black"><a href="#">Neque porro quisquam est qui dolorem ipsum quia dolor consectetur</a></h3>
                                </div>

                                <div class="blog-meta ul-li">
                                    <span>De:</span>
                                    <ul>
                                        <li><a href="#">john doe </a></li>
                                        <li><a href="#">Comments: 12 </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-4 -->

                </div>
            </div>
            <!-- /.blog-section-content -->
        </div>
    </div>
</section>
<!-- End of blog section
		============================================= -->



<!-- Start of partner section
		============================================= -->
<!-- <div id="sponser" class="sponser-section">
    <div class="container">
        <div class="row">
            <div class="sponser-section-content">
                <div class="clearfix"></div>
                <div class="sponser-slide">
                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end of partner section
		============================================= -->



<!-- Start of newsletter and footer  section
		============================================= -->
<comp-footer></comp-footer>
<!-- End of newsletter  and footer  section
		============================================= -->