<section class="bgLogin">
    <!-- <img src="../../../assets/img/bgsite.png" class="bgLogin" alt="bg"> -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-7 col-lg-4 col-xl-3">
            <div class="contact-area-form">

                <form [formGroup]="frmLogin" class="frmlogin">
                    <div>

                    </div>
                    <fieldset class="form-group">
                        <label for="username">Usuario</label>
                        <input class="form-control" type="text" formControlName="username" id="username">
                    </fieldset><br>
                    <fieldset class="form-group">
                        <label for="password">Senha</label>
                        <input class="form-control" type="password" name="password" formControlName="password" id="password">
                    </fieldset><br>
                    <fieldset class="form-group">
                        <!-- <div class="nws-button mt40 white text-capitalize"><button>Entrar</button></div> -->
                        <p>
                            <button (click)="login()" type="button" class="center-block btn-block">Entrar</button>
                        </p>
                        <p class="text-center">
                            <a [routerLink]="[ '/home']">Voltar para o <b>Inicio</b> </a>
                        </p>
                        <!-- <p>
                            Ainda não tem um registro ? <a [routerLink]="['/register']" routerLinkActive="router-link-active">Registre-se</a>
                        </p> -->
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</section>
