<footer class="restrito-footer">
        <p class="text-center">Desenvolvido por <a href="https://imagineag.com.br/">Imagine Coolab</a></p>
    
    <!-- <section id="footer-area" class="footer-area-section">
        <div class="container">
            <div class="row section-padding">

                <div class="copy-right-text">
                    <p>© All Right Reserved. Designed by <a href="#">vidco</a></p>
                </div>
            </div>
        </div>
    </section> -->

    <script src="assets/js/script.js"></script>
</footer>