
<!-- Start of Header section
     ============================================= -->

<comp-header></comp-header>

<!-- End of Header section
    ============================================= -->


<!-- Start of breadcrum section
		============================================= -->
<section id="page-breadcrum" class="breadcrum-section">
    <div class="container">
        <div class="row">
            <div class="breadcrum-content ul-li">
                <ul class="breadcrumb text-capitalize">
                    <li class="breadcrumb-item"><a href="#">home</a></li>
                    <li class="breadcrumb-item active">contatos</li>
                </ul>
                <div class="breadcrum-title">
                    <h2 class="breadcrum-title-head text-uppercase white bold">Contatos</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of breadcrum section
 		============================================= -->



<!-- Start of contact area content
 		============================================= -->
<section id="contact-area" class="contact-area-section pt80">
    <div class="container">
        <div class="row">
            <div class="contact-area-content mb75">
                <div class="section-title mb75">
                    <span class="sintony section-title-text">Estamos a sua espera</span>
                    <h2 class="section-title-head black bold text-uppercase">Contate-nos</h2>
                </div>
                <!-- /.title -->
                <div class="contact-address">
                    <div class="row">

                        <div class="col-md-4 colmd4">
                            <div class="contact-info-details global-box-shadow text-center">
                                <div class="contact-icon">
                                    <i class="pink ion-ios-location-outline"></i>
                                </div>
                                <!-- /.contact-icon -->
                                <div class="contact-main-address">
                                    <h3 class="contact-title pb15 black text-capitalize">Nossa localização</h3>
                                    <span>R Capitao Ferraiolo, 48, Vl Invernada, Sao Paulo, SP, CEP 03348-000, Brasil
 											</span>
                                </div>
                            </div>
                            <!-- /.contact-info-details -->
                        </div>
                        <!-- /.col-md-4 -->


                        <div class="col-md-4 colmd4">
                            <div class="contact-info-details global-box-shadow text-center">
                                <div class="contact-icon">
                                    <i class="pink ion-ios-telephone-outline"></i>
                                </div>
                                <!-- /.contact-icon -->
                                <div class="contact-main-address">
                                    <h3 class="contact-title pb15 black text-capitalize">Ligue para nós</h3>
                                    <span>(11) 3865-7316</span>
                                </div>
                            </div>
                            <!-- /.contact-info-details -->
                        </div>
                        <!-- /.col-md-4 -->

                        <div class="col-md-4 colmd4">
                            <div class="contact-info-details global-box-shadow text-center">
                                <div class="contact-icon">
                                    <i class="pink ion-email"></i>
                                </div>
                                <!-- /.contact-icon -->
                                <div class="contact-main-address">
                                    <h3 class="contact-title pb15 black text-capitalize">Emails</h3>
                                    <span>contato@compasso.co</span>
                                </div>
                            </div>
                            <!-- /.contact-info-details -->
                        </div>
                        <!-- /.col-md-4 -->
                    </div>
                </div>
                <!-- /.contact-address -->

            </div>
        </div>
    </div>
</section>
<!-- End of  contact area content
		============================================= -->



<!-- Start of contact massage section
		============================================= -->
<!-- <section id="contact-message" class="contact-message-section">
    <div class="container">
        <div class="row">
            <div id="contact-main-map" class="contact-main-map-section mb75"> -->
                <!-- <div id="google-map">
                    <div id="googleMaps" class="google-map-container"></div>
                </div> -->
                <!-- /#google-map-->
            <!-- </div> -->
            <!-- /map -->
            <!-- <div class="row">
                <div class="col-md-7">
                    <div class="contact-area-form  mb75">
                        <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                            <div class="contact-info">
                                <input class="name" name="Email" type="email" placeholder="Your@email.com*">
                            </div>
                            <div class="contact-info">
                                <input class="email" name="name" type="text" placeholder="Your name*">
                            </div>
                            <div class="contact-info">
                                <input class="email" name="name" type="text" placeholder="Phone">
                            </div>
                            <div class="contact-info">
                                <select>
											<option value="9" selected="">Subject</option>
											<option value="10">Default Listing</option>
											<option value="11">Category Listing</option>
											<option value="12">Orderly Listing</option>
										</select>
                            </div>
                            <div class="contact-info-msg mt20">
                                <textarea id="message" name="message" placeholder="Your reviews here..." rows="7" cols="30"></textarea>
                            </div>
                            <div class="nws-button mt40 white text-capitalize">
                                <button type="submit" value="Submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="contact-right-img ml70">
                        <img src="assets/img/banner/contact.jpg" alt="">
                    </div>
                </div>
                
            </div> -->

        <!-- </div>
    </div>
</section> -->
<!--  End of contact massage section
 		============================================= -->



<!-- Start of partner section
		============================================= -->
<!-- <div id="sponser" class="sponser-section">
    <div class="container">
        <div class="row">
            <div class="sponser-section-content">
                <div class="clearfix"></div>
                <div class="sponser-slide">
                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>

                    <div class="sponser-img text-center">
                        <img src="assets/img/sponsor/spon-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end of partner section
		============================================= -->


<!-- Start of newsletter and footer  section
    ============================================= -->
<comp-footer></comp-footer>

<!-- End of newsletter  and footer  section
		============================================= -->